{% extends 'base.html.twig' %}

{% block title %}News Need{% endblock %}

{% block body %}
    <div class="example-wrapper">
        <div class="row">
            <div class="col-sm-12">
                <h1 class="d-inline-flex">News Need</h1>
                {% include('site/_form.html.twig') %}
            </div>
        </div>
        <div>
            {% for item in news %}
                {{ include('site/item.html.twig', {
                    title: item.title ?? '',
                    text: item.text ?? '',
                    link: item.link ?? '',
                    img: item.image ?? '',
                    date: item.date ?? ''
                }) }}
            {% endfor %}
        </div>
        <hr>
        <div class="row align-content-sm-stretch row">
            <div class="col-sm">
                {% if page > 1 %}
                    <a href="/news/{{ page-1 }}?{{ app.request.queryString }}" class="btn btn-info">
                        Prev Page
                    </a>
                {% endif %}
            </div>
            <span class="btn alert-dark">Page:&nbsp;{{ page }}</span>
            <div class="col-sm">
                {% if page < maxPage %}
                    <a href="/news/{{ page+1 }}?{{ app.request.queryString }}" class="btn btn-info pull-right">
                        Next Page
                    </a>
                {% endif %}
            </div>
        </div>
    </div>
    </div>
{% endblock %}
